<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#{% block stylesheets %}{% endblock %}#}
        <style>
            ul {
                list-style: none;
            }
            ul li {
                display: inline-block;
            }
            h1, p {
                text-align: center;
            }
            nav + h1 {
                color: red;
            }
            .wrap {
                margin-bottom: 150px;
            }
            img {
                width: 300px;
                height: 200px;
            }
            .wrap {
                background: gray;
            }
            .active {
                color: green;
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="./home" {% if current=='main' %} class="active"{% endif %}>Главная</a></li>
            <li><a href="./news" {% if current=='news' %} class="active"{% endif %}>Новости</a></li>
            <li><a href="./create" {% if current=='info' %} class="active"{% endif %}>Создать</a></li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
