{% extends 'base.html.twig' %}

{% block body %}
    <h1>News</h1>
    {% for new in news %}
        <div class="wrap">
            <h1>{{ new['name'] }}</h1>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
